// Load the Source Serif Pro font
@import 'https://fonts.googleapis.com/css2?family=Source+Serif+Pro';
body {
  font-family: "Source Serif Pro", "Helvetica", Arial, sans-serif;
}

// https://www.getzola.org/documentation/content/syntax-highlighting/#styling-codeblocks
pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em;
  color: #566b78;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
