<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>luker.dev | {% block title %}Home{% endblock %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% block description %}A website that contains posts about my projects, thinkings and experiences.{% endblock %}">
  <link rel="icon" href="{{ get_url(path='favicon.ico') }}">
  {% set css = load_data(path='basic-2022-08-14.css') %}
  <style>{{ css }}</style>
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
  {% endblock %}
</head>

<body>
  <h1>
    <a href="/">luker.dev</a>
  </h1>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
